@font-face {
  font-family: "iconfont";
  src: url('iconfont.ttf') format('truetype')
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-exit:before {
  content: "\e904";
}

.icon-logo:before {
  content: "\e68b";
}

.icon-staff:before {
  content: "\e698";
}

.icon-person-charge:before {
  content: "\e699";
}

.icon-update:before {
  content: "\e841";
}

.icon-arrow-right:before {
  content: "\e924";
}

.icon-right:before {
  content: "\e615";
}

.icon-work-list:before {
  content: "\e63e";
}

.icon-statistics:before {
  content: "\ea60";
}

.icon-message:before {
  content: "\ead7";
}

.icon-add-circle:before {
  content: "\eaf5";
}

.icon-create:before {
  content: "\eaf8";
}

.icon-download:before {
  content: "\eba1";
}

.icon-alert:before {
  content: "\ec5c";
}

.icon-people:before {
  content: "\ec69";
}

.icon-person-add:before {
  content: "\ec89";
}

.icon-visible:before {
  content: "\e833";
}

.icon-checked:before {
  content: "\e7e3";
}

.icon-search-company:before {
  content: "\e621";
}

.icon-accountbox:before {
  content: "\e606";
}

.icon-admin:before {
  content: "\e607";
}

.icon-keyboard-arrow-up:before {
  content: "\e6c3";
}

.icon-keyboard-arrow-left:before {
  content: "\e6d5";
}

.icon-thumb-up:before {
  content: "\e78d";
}

.icon-window-restore:before {
  content: "\e61c";
}

.icon-cancle:before {
  content: "\e626";
}

.icon-arrowback:before {
  content: "\e64c";
}

.icon-paper-clip:before {
  content: "\e616";
}

.icon-creat-company:before {
  content: "\e62f";
}

.icon-rightarrow:before {
  content: "\e94c";
}

.icon-search:before {
  content: "\e656";
}

.icon-staff-card:before {
  content: "\e62a";
}

.icon-trash:before {
  content: "\e617";
}

.icon-query-sign:before {
  content: "\e60b";
}

.icon-keyboard-arrow-down:before {
  content: "\e683";
}

.icon-view-module:before {
  content: "\e6f2";
}

.icon-share:before {
  content: "\e82b";
}

.icon-page-first:before {
  content: "\e830";
}

.icon-task:before {
  content: "\ea77";
}

.icon-window-min:before {
  content: "\e664";
}

.icon-company:before {
  content: "\e6cd";
}

.icon-save:before {
  content: "\e638";
}

.icon-blchecked:before {
  content: "\e668";
}

.icon-plus:before {
  content: "\e60a";
}

.icon-ppt:before {
  content: "\e608";
}

.icon-word:before {
  content: "\e60d";
}

.icon-pdf:before {
  content: "\e61b";
}

.icon-excel:before {
  content: "\e619";
}

.icon-zoom-in:before {
  content: "\e6b1";
}

.icon-permissions-user:before {
  content: "\e618";
}

.icon-window-max:before {
  content: "\e66b";
}

.icon-pic:before {
  content: "\e6e8";
}

.icon-filter:before {
  content: "\e65b";
}

.icon-pencil:before {
  content: "\e600";
}

.icon-arrow-down:before {
  content: "\e645";
}

.icon-zoom-out:before {
  content: "\e762";
}

.icon-box-empty:before {
  content: "\e682";
}

.icon-heading:before {
  content: "\e79e";
}

.icon-settings:before {
  content: "\e767";
}

.icon-sync:before {
  content: "\e771";
}

.icon-wrong:before {
  content: "\e6ce";
}

.icon-apply:before {
  content: "\e61a";
}

.icon-calendar:before {
  content: "\e6a7";
}

.icon-minus:before {
  content: "\e996";
}

.icon-add:before {
  content: "\e601";
}

.icon-close:before {
  content: "\e602";
}

.icon-subject:before {
  content: "\e8c5";
}

.icon-model:before {
  content: "\e8d4";
}

.icon-add-classify:before {
  content: "\e902";
}

.icon-monetization-on:before {
  content: "\eb5f";
}

.icon-eye:before {
  content: "\e757";
}

.icon-more:before {
  content: "\e65c";
}

.icon-department:before {
  content: "\e669";
}

.icon-team:before {
  content: "\e611";
}

.icon-unknown-type:before {
  content: "\e60f";
}

.icon-rotate:before {
  content: "\e953";
}

