$lightGreen:rgb(66, 210, 194);
$lightBlue:rgb(88, 190, 232);
$lightGray:rgb(150, 150, 150);
$milkWhite:rgb(238, 238, 238);
$deepGreen:#01949e;
$deepGreen_2:rgba(49, 182, 144, 0.72);

@mixin basicTitle {
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Calibri", sans-serif;
  text-shadow: 0 0 0.75px rgba(255, 255, 255, 0.25);
  line-height: 1.5;
}

@mixin textBorder($pad) {
  height: 25px;
  line-height: 25px;
  text-align: center;
  font-size: 10px;
  color: $lightGray;
  padding: 0px $pad;
  border: 1px $milkWhite solid;
  border-radius: 2px;
}
@mixin diary-content($width, $max) {
  width: $width;
  max-width: $max;
  min-width: 300px;
}

@mixin diary-inner-content($width, $max) {
  width: $width;
  max-width: $max;
  min-width: 240px;
}

@mixin standardButton($fontSize:12px, $color:black, $pad: 1em 3.5em) {
  font-size: $fontSize;
  background-color: $lightGreen;
  color: $color;
  padding: $pad;
  border: none;
  border-radius: 1.5em;
  letter-spacing: 0.1em;
  transition: all 0.35s ease-in-out;
  cursor: pointer;

  &:hover {
    color: white;
    background-color: $lightBlue;
  }

  @media screen and (max-width: 768px) {
    padding: 0.5em 1.75em;
  }

}
